<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="SocketIOClient" version="3.0.8" />
  <package id="SocketIOClient.Newtonsoft.Json" version="3.0.7" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="7.0.0" />
  <package id="System.Text.Json" version="7.0.3" />
  <package id="TS.SocketIO.Core" version="3.1.0.2" />
  <package id="TS.SocketIO.Serializer.Core" version="3.1.0.2" />
  <package id="TS.SocketIO.Serializer.SystemTextJson" version="3.1.0.2" />
  <package id="TS.SocketIOClient" version="3.1.0.2" manuallyInstalled="true" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" manuallyInstalled="true" />
</packages>